@import "../constants.scss";

.form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 30px 20px; 
    box-shadow: 0 4px 8px rgba(68,68,68,0.2);

    .form-title {
        text-align: start;
        width: 100%;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
        color: $darkGray;
    }

    .flight-form-container {
        form {
            display: flex;
            align-items: flex-end;

            .form-component {
                display: flex;
                margin-right: 5px;
            }

            .form-input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 5px;

                label {
                    font-size: 1.2em;
                    font-weight: bold;
                    letter-spacing: 1pt;
                    color: $lightGray;
                    margin-bottom: 5px;
                }

                input {
                    padding: 0 15px;
                    height: 45px;
                    border-radius: 5px;
                    border: 1px solid lighten($lightGray, 20%);
                }
            }
            button {
                margin-left: 10px;
                border-radius: 25px;
                font-size: 1.6em;
                font-weight: bold;
                width: 100px;
                height: 45px;
                background: $darkPurple;
                border: 1px solid $darkPurple;
                color: white;
            }
        }
    }
}