@import './constants.scss';

.app {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;

  .navigation-bar {
    height: 50px;
    padding-left: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1 {
      font-size: 2em;
    }
  }
}